# Stripe API Configuration
PUBLIC_STRIPE_API_URL=https://services.darideveloper.com/stripe-api/
PUBLIC_RETURN_URL=https://www.darideveloper@gmail.com
PUBLIC_SUCCESS_URL=https://www.darideveloper@gmail.com?thanks=true
PUBLIC_STRIPE_USER=rohan-karisma-test
PUBLIC_STRIPE_IMAGE_URL=https://www.darideveloper.com/imgs/logo.png
