---
import Layout from '../layouts/Layout.astro';
import BookingFlow from "../components/organisms/BookingFlow";
import toursData from "../data/tours.json";

export async function getStaticPaths() {
  return toursData.map((tour) => ({
    params: { id: tour.id },
    props: { tour },
  }));
}

const { id } = Astro.params;
---

<Layout>
    <main class="min-h-screen py-12 py-4 flex items-center justify-center">
        <BookingFlow client:load initialTourId={id} />
    </main>
</Layout>
