---
import Layout from '../layouts/Layout.astro';
import { BookingWidget } from "@/components/organisms/BookingWidget";
---

<Layout>
    <main class="min-h-screen bg-brand-cream/20 py-12 px-4 flex items-center justify-center">
        <BookingWidget client:load />
    </main>
</Layout>
