---
import Layout from '../layouts/Layout.astro';
import { BookingCalendar } from "@/components/organisms/BookingCalendar";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
---

<Layout>
	<div class="z-50 w-full max-w-md mx-auto p-4 lg:p-0 lg:fixed lg:top-4 lg:right-4 lg:max-w-sm">
		<BookingCalendar client:load />
	</div>
</Layout>
